# Builds
/dist/
/build
/server/dist/
/server/run/
/client/dist/
*.tsbuildinfo

# node_modules (if not using Yarn pnp)
**/node_modules

# Yarn pnp
**/.pnp.*
**/.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
/coverage
/uploads/

# Misc
.DS_Store
.Spotlight-V100
.env
.env.*
*.log*

/models/*